[Desktop Entry]
Name=Megatiflo
Icon=com.github.andrejgricenko.megatiflo.png
Exec=megatiflo
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true